.subMenuLevel .btn-success {
    background: none !important;
    color: black !important;
    width: 100% !important;
    border: none !important;
    text-align: left !important;
}

.subMenuLevel .btn-success:hover {
    background-color: #f5f5f5;
}

a.dropdown-item,
.subMenuLevel a.dropdown-item,
.subMenuLevel .btn-success {
    padding: 10px !important;
}